<div class='centered form'>
	<h5 class='gray'>Answer (without Login)</h5>
	<%= form_for Answer.new do |f| %>
		<%= f.text_area :content, {:maxlength => 100, :class => 'full-width text-area'} %><br>
		<%= f.text_field :question_id, :value => question.id, :hidden => true %>
		<h3 class='gray' id='letter-left' limit='100'>100</h3>
		<%= f.submit 'submit answer' %>
	<% end %>
</div>