<div class='like-button-set'>
	<%= link_to '', like_path({:id => vote.id}), :class => 'like-button', :method => :post, :remote => true %>
	<br>
	<b class='like-num' id='like-<%= vote.id %>' >
		<%= vote.like %>
	</b>
	PUSH
</div>