<div class='toggle-switch'>
	<div class='toggle-out'>
		<% if @yesno == 'yes' %>
			<div class='toggle-in float-left'>
		<% else %>
			<div class='toggle-in float-right'>
		<% end %>
		</div>
	</div>
</div>