<% @yes_rate = 100 * @vote.yes / (@vote.yes + @vote.no) %>
<% @no_rate = 100 * @vote.no / (@vote.yes + @vote.no) %>
<div class='vote-bar'>
	<div class='yes-or-no-bar yes-bar text-align-left' style='width:<%= @yes_rate %>%'>
		<b><%= @yes_rate %>%)</b>
	</div>
	<div class='yes-or-no-bar no-bar text-align-right' style='width:<%= @no_rate %>%'>
		<b><%= @no_rate %>%)</b>
	</div>
</div>