/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h3 {
	color: #999;
}

.question-input {
	height: 12em;
}

.answer-input {
	height: 3em;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.half {
	width: 50%;
	float: left;
}

.like-button-set {
	margin: 10px 0px;
	font-size: 18px;
	color: #f0d;
}

.like-button {
	display: inline-block;
	border-radius: 50%;
	border-style: double;
	border-color: #fff;
	border-width: 10px;
	width: 40px;
	height: 40px;
	background: #f0d;
	transition: all .1s ease;
    -webkit-transition: all .1s ease;
}

.like-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.like-button:active {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    border-color: #f0d;
}

.like-num {
	font-family: 'Open Sans';
}

.question-div {
	margin: 50px 0px;
}

.question-block:hover {
	color: #777;
	cursor: pointer;
}

.answer-div {
	margin: 30px 0px;
}

.answer-block {
	margin: 50px 0px;
	border-left: solid 5px #eee;
	padding-left: 10px;
}

.gray {
	color: #aaa;
}

.centered {
	text-align: center;
}

.full-width {
	width: 100%;
}

.form {
	margin: 20px 0px;
	padding: 0px 20px;
	padding-top: 10px;
	background: #efefef;
	border-radius: 10px;
}

.small {
	font-size: 0.8em;
}

.header {
	height: 50px;
	background: #fff;
	text-align: center;
	border-bottom: solid #eee 1px;
}

.header-title {
	font-size: 2em;
	font-family: 'HelveticaNeue-Light';
}

a {
	text-decoration: none;
}
